# Multiple Linear Regression

In [444]:
import numpy as np
import pandas as pd

In [445]:
df=pd.read_csv(r'Downloads\50_Startups.csv')

In [446]:
df

     R&D Spend  Administration  Marketing Spend       State     Profit
0    165349.20       136897.80        471784.10    New York  192261.83
1    162597.70       151377.59        443898.53  California  191792.06
2    153441.51       101145.55        407934.54     Florida  191050.39
3    144372.41       118671.85        383199.62    New York  182901.99
4    142107.34        91391.77        366168.42     Florida  166187.94
..         ...             ...              ...         ...        ...
103  119943.24       156547.42        256512.92     Florida  132602.65
104  114523.61       122616.84        261776.23    New York  129917.04
105   78013.11       121597.55        264346.06  California  126992.93
106   94657.16       145077.58        282574.31    New York  125370.37
107   91749.16       114175.79        294919.57     Florida  124266.90

[108 rows x 5 columns]

In [447]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [448]:
df.tail()

     R&D Spend  Administration  Marketing Spend       State     Profit
103  119943.24       156547.42        256512.92     Florida  132602.65
104  114523.61       122616.84        261776.23    New York  129917.04
105   78013.11       121597.55        264346.06  California  126992.93
106   94657.16       145077.58        282574.31    New York  125370.37
107   91749.16       114175.79        294919.57     Florida  124266.90

In [449]:
df.shape

(108, 5)

In [450]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count     108.000000      108.000000       108.000000     108.000000
mean    74959.338704   121750.788889    214952.664722  113523.760000
std     44996.368152    27322.385654    117937.942120   38991.013654
min         0.000000    51283.140000         0.000000   14681.400000
25%     38558.510000   105077.645000    134050.070000   90708.190000
50%     75791.365000   122699.795000    239452.750000  109543.120000
75%    101913.080000   145077.580000    298664.470000  141585.520000
max    165349.200000   182645.560000    471784.100000  192261.830000

In [451]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    object
 4   Profit           108 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.3+ KB

In [452]:
df.isnull().sum()

R&D Spend          0
Administration     0
Marketing Spend    0
State              0
Profit             0
dtype: int64

# Label Encoding

In [453]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [454]:
df.State.value_counts()

New York      39
California    36
Florida       33
Name: State, dtype: int64

In [455]:
df.State=le.fit_transform(df.State)

In [456]:
df.State.value_counts()

2    39
0    36
1    33
Name: State, dtype: int64

In [457]:
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

# Indeendent & Dependent Variable

In [458]:
x=df.iloc[:,:4]

In [459]:
x

     R&D Spend  Administration  Marketing Spend  State
0    165349.20       136897.80        471784.10      2
1    162597.70       151377.59        443898.53      0
2    153441.51       101145.55        407934.54      1
3    144372.41       118671.85        383199.62      2
4    142107.34        91391.77        366168.42      1
..         ...             ...              ...    ...
103  119943.24       156547.42        256512.92      1
104  114523.61       122616.84        261776.23      2
105   78013.11       121597.55        264346.06      0
106   94657.16       145077.58        282574.31      2
107   91749.16       114175.79        294919.57      1

[108 rows x 4 columns]

In [460]:
y=df.iloc[:,4:]

In [461]:
y

        Profit
0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
..         ...
103  132602.65
104  129917.04
105  126992.93
106  125370.37
107  124266.90

[108 rows x 1 columns]

# Train,Test & Split

In [462]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [463]:
x_train

     R&D Spend  Administration  Marketing Spend  State
26    75328.87       144135.98        134050.07      1
93   142107.34        91391.77        366168.42      1
33    55493.95       103057.49        214634.81      1
3    144372.41       118671.85        383199.62      2
66    72107.60       127864.55        353183.81      2
..         ...             ...              ...    ...
104  114523.61       122616.84        261776.23      2
67    66051.52       182645.56        118148.20      1
64    64664.71       139553.16        137962.62      0
47        0.00       135426.92             0.00      0
44    22177.74       154806.14         28334.72      0

[86 rows x 4 columns]

In [464]:
x_test

     R&D Spend  Administration  Marketing Spend  State
84     1000.23       124153.04          1903.93      2
10   101913.08       110594.11        229160.95      1
75    28663.76       127056.21        201126.82      1
2    153441.51       101145.55        407934.54      1
24    77044.01        99281.34        140574.81      2
100  100671.96        91790.61        249744.55      0
107   91749.16       114175.79        294919.57      1
7    130298.13       145530.06        323876.68      1
16    78013.11       121597.55        264346.06      0
86        0.00       135426.92             0.00      0
68    65605.48       153032.06        107138.38      2
22    73994.56       122782.75        303319.26      1
45     1000.23       124153.04          1903.93      2
60    78389.47       153773.43        299737.29      2
76    44069.95        51283.14        197029.42      0
52    91992.39       135495.07        252664.93      0
13    91992.39       135495.07        252664.93      0
73    46426.07       157693.92        210797.67      2
85     1315.46       115816.21        297114.46      1
54   114523.61       122616.84        261776.23      2
103  119943.24       156547.42        256512.92      1
8    120542.52       148718.95        311613.29      2

In [465]:
y_train

        Profit
26   105733.54
93   166187.94
33    96778.92
3    182901.99
66   105008.31
..         ...
104  129917.04
67   103282.38
64   107404.34
47    42559.73
44    65200.33

[86 rows x 1 columns]

In [466]:
y_test

        Profit
84    64926.08
10   146121.95
75    90708.19
2    191050.39
24   108552.04
100  144259.40
107  124266.90
7    155752.60
16   126992.93
86    42559.73
68   101004.64
22   110352.25
45    64926.08
60   111313.02
76    89949.14
52   134307.35
13   134307.35
73    96712.80
85    49490.75
54   129917.04
103  132602.65
8    152211.77

# Model Building

In [467]:
from sklearn.linear_model import LinearRegression
mlr=LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression()

In [468]:
x_test[0:5]

    R&D Spend  Administration  Marketing Spend  State
84    1000.23       124153.04          1903.93      2
10  101913.08       110594.11        229160.95      1
75   28663.76       127056.21        201126.82      1
2   153441.51       101145.55        407934.54      1
24   77044.01        99281.34        140574.81      2

In [469]:
y_test[0:5]

       Profit
84   64926.08
10  146121.95
75   90708.19
2   191050.39
24  108552.04

In [470]:
mlrpred=mlr.predict(x_test)

In [471]:
mlrpred[0:5]

array([[ 48379.24868384],
       [134848.91924675],
       [ 76483.10965219],
       [181561.78529195],
       [112966.00035119]])

In [472]:
mlr.predict(x_test)

array([[ 48379.24868384],
       [134848.91924675],
       [ 76483.10965219],
       [181561.78529195],
       [112966.00035119],
       [134241.68257234],
       [129222.38731943],
       [160017.05919782],
       [116752.96050773],
       [ 46260.99264065],
       [102266.36060186],
       [115568.27177595],
       [ 48379.24868384],
       [119114.16525517],
       [ 88602.220028  ],
       [127101.40273621],
       [127101.40273621],
       [ 90942.33421504],
       [ 58677.73349899],
       [146304.26215169],
       [149410.05440997],
       [152502.87810445]])

In [473]:
x_test.shape

(22, 4)

# R2 Score

In [474]:
from sklearn.metrics import r2_score
r2_score(mlr.predict(x_test),(y_test))

0.9314720388994492

In [475]:
r2_score(mlr.predict(x_train),y_train)

0.9335574224154842

# Decision Tree Regressor

We perfrom Decision Tree Regressor for the same above dataset

# Independent & Dependent Variables

In [476]:
x=df.iloc[:,0:4].values

In [477]:
x

array([[1.6534920e+05, 1.3689780e+05, 4.7178410e+05, 2.0000000e+00],
       [1.6259770e+05, 1.5137759e+05, 4.4389853e+05, 0.0000000e+00],
       [1.5344151e+05, 1.0114555e+05, 4.0793454e+05, 1.0000000e+00],
       [1.4437241e+05, 1.1867185e+05, 3.8319962e+05, 2.0000000e+00],
       [1.4210734e+05, 9.1391770e+04, 3.6616842e+05, 1.0000000e+00],
       [1.3187690e+05, 9.9814710e+04, 3.6286136e+05, 2.0000000e+00],
       [1.3461546e+05, 1.4719887e+05, 1.2771682e+05, 0.0000000e+00],
       [1.3029813e+05, 1.4553006e+05, 3.2387668e+05, 1.0000000e+00],
       [1.2054252e+05, 1.4871895e+05, 3.1161329e+05, 2.0000000e+00],
       [1.2333488e+05, 1.0867917e+05, 3.0498162e+05, 0.0000000e+00],
       [1.0191308e+05, 1.1059411e+05, 2.2916095e+05, 1.0000000e+00],
       [1.0067196e+05, 9.1790610e+04, 2.4974455e+05, 0.0000000e+00],
       [9.3863750e+04, 1.2732038e+05, 2.4983944e+05, 1.0000000e+00],
       [9.1992390e+04, 1.3549507e+05, 2.5266493e+05, 0.0000000e+00],
       [1.1994324e+05, 1.5654742e+05, 2.5651292e+05, 1.0000000e+00],
       [1.1452361e+05, 1.2261684e+05, 2.6177623e+05, 2.0000000e+00],
       [7.8013110e+04, 1.2159755e+05, 2.6434606e+05, 0.0000000e+00],
       [9.4657160e+04, 1.4507758e+05, 2.8257431e+05, 2.0000000e+00],
       [9.1749160e+04, 1.1417579e+05, 2.9491957e+05, 1.0000000e+00],
       [8.6419700e+04, 1.5351411e+05, 0.0000000e+00, 2.0000000e+00],
       [7.6253860e+04, 1.1386730e+05, 2.9866447e+05, 0.0000000e+00],
       [7.8389470e+04, 1.5377343e+05, 2.9973729e+05, 2.0000000e+00],
       [7.3994560e+04, 1.2278275e+05, 3.0331926e+05, 1.0000000e+00],
       [6.7532530e+04, 1.0575103e+05, 3.0476873e+05, 1.0000000e+00],
       [7.7044010e+04, 9.9281340e+04, 1.4057481e+05, 2.0000000e+00],
       [6.4664710e+04, 1.3955316e+05, 1.3796262e+05, 0.0000000e+00],
       [7.5328870e+04, 1.4413598e+05, 1.3405007e+05, 1.0000000e+00],
       [7.2107600e+04, 1.2786455e+05, 3.5318381e+05, 2.0000000e+00],
       [6.6051520e+04, 1.8264556e+05, 1.1814820e+05, 1.0000000e+00],
       [6.5605480e+04, 1.5303206e+05, 1.0713838e+05, 2.0000000e+00],
       [6.1994480e+04, 1.1564128e+05, 9.1131240e+04, 1.0000000e+00],
       [6.1136380e+04, 1.5270192e+05, 8.8218230e+04, 2.0000000e+00],
       [6.3408860e+04, 1.2921961e+05, 4.6085250e+04, 0.0000000e+00],
       [5.5493950e+04, 1.0305749e+05, 2.1463481e+05, 1.0000000e+00],
       [4.6426070e+04, 1.5769392e+05, 2.1079767e+05, 0.0000000e+00],
       [4.6014020e+04, 8.5047440e+04, 2.0551764e+05, 2.0000000e+00],
       [2.8663760e+04, 1.2705621e+05, 2.0112682e+05, 1.0000000e+00],
       [4.4069950e+04, 5.1283140e+04, 1.9702942e+05, 0.0000000e+00],
       [2.0229590e+04, 6.5947930e+04, 1.8526510e+05, 2.0000000e+00],
       [3.8558510e+04, 8.2982090e+04, 1.7499930e+05, 0.0000000e+00],
       [2.8754330e+04, 1.1854605e+05, 1.7279567e+05, 0.0000000e+00],
       [2.7892920e+04, 8.4710770e+04, 1.6447071e+05, 1.0000000e+00],
       [2.3640930e+04, 9.6189630e+04, 1.4800111e+05, 0.0000000e+00],
       [1.5505730e+04, 1.2738230e+05, 3.5534170e+04, 2.0000000e+00],
       [2.2177740e+04, 1.5480614e+05, 2.8334720e+04, 0.0000000e+00],
       [1.0002300e+03, 1.2415304e+05, 1.9039300e+03, 2.0000000e+00],
       [1.3154600e+03, 1.1581621e+05, 2.9711446e+05, 1.0000000e+00],
       [0.0000000e+00, 1.3542692e+05, 0.0000000e+00, 0.0000000e+00],
       [5.4205000e+02, 5.1743150e+04, 0.0000000e+00, 2.0000000e+00],
       [0.0000000e+00, 1.1698380e+05, 4.5173060e+04, 0.0000000e+00],
       [1.0067196e+05, 9.1790610e+04, 2.4974455e+05, 0.0000000e+00],
       [9.3863750e+04, 1.2732038e+05, 2.4983944e+05, 1.0000000e+00],
       [9.1992390e+04, 1.3549507e+05, 2.5266493e+05, 0.0000000e+00],
       [1.1994324e+05, 1.5654742e+05, 2.5651292e+05, 1.0000000e+00],
       [1.1452361e+05, 1.2261684e+05, 2.6177623e+05, 2.0000000e+00],
       [7.8013110e+04, 1.2159755e+05, 2.6434606e+05, 0.0000000e+00],
       [9.4657160e+04, 1.4507758e+05, 2.8257431e+05, 2.0000000e+00],
       [9.1749160e+04, 1.1417579e+05, 2.9491957e+05, 1.0000000e+00],
       [8.6419700e+04, 1.5351411e+05, 0.0000000e+00, 2.0000000e+00],
       [7.6253860e+04, 1.1386730e+05, 2.9866447e+05, 0.0000000e+00],
       [7.8389470e+04, 1.5377343e+05, 2.9973729e+05, 2.0000000e+00],
       [7.3994560e+04, 1.2278275e+05, 3.0331926e+05, 1.0000000e+00],
       [6.7532530e+04, 1.0575103e+05, 3.0476873e+05, 1.0000000e+00],
       [7.7044010e+04, 9.9281340e+04, 1.4057481e+05, 2.0000000e+00],
       [6.4664710e+04, 1.3955316e+05, 1.3796262e+05, 0.0000000e+00],
       [7.5328870e+04, 1.4413598e+05, 1.3405007e+05, 1.0000000e+00],
       [7.2107600e+04, 1.2786455e+05, 3.5318381e+05, 2.0000000e+00],
       [6.6051520e+04, 1.8264556e+05, 1.1814820e+05, 1.0000000e+00],
       [6.5605480e+04, 1.5303206e+05, 1.0713838e+05, 2.0000000e+00],
       [6.1994480e+04, 1.1564128e+05, 9.1131240e+04, 2.0000000e+00],
       [2.0229590e+04, 1.5270192e+05, 8.8218230e+04, 2.0000000e+00],
       [6.3408860e+04, 1.2921961e+05, 4.6085250e+04, 0.0000000e+00],
       [5.5493950e+04, 1.0305749e+05, 2.1463481e+05, 1.0000000e+00],
       [4.6426070e+04, 1.5769392e+05, 2.1079767e+05, 2.0000000e+00],
       [2.0229590e+04, 8.5047440e+04, 2.0551764e+05, 2.0000000e+00],
       [2.8663760e+04, 1.2705621e+05, 2.0112682e+05, 1.0000000e+00],
       [4.4069950e+04, 5.1283140e+04, 1.9702942e+05, 0.0000000e+00],
       [2.0229590e+04, 6.5947930e+04, 1.8526510e+05, 2.0000000e+00],
       [3.8558510e+04, 8.2982090e+04, 1.7499930e+05, 0.0000000e+00],
       [2.8754330e+04, 1.1854605e+05, 1.7279567e+05, 0.0000000e+00],
       [2.7892920e+04, 8.4710770e+04, 1.6447071e+05, 2.0000000e+00],
       [2.3640930e+04, 9.6189630e+04, 1.4800111e+05, 0.0000000e+00],
       [2.0229590e+04, 1.2738230e+05, 3.5534170e+04, 2.0000000e+00],
       [2.2177740e+04, 1.5480614e+05, 2.8334720e+04, 0.0000000e+00],
       [1.0002300e+03, 1.2415304e+05, 1.9039300e+03, 2.0000000e+00],
       [1.3154600e+03, 1.1581621e+05, 2.9711446e+05, 1.0000000e+00],
       [0.0000000e+00, 1.3542692e+05, 0.0000000e+00, 0.0000000e+00],
       [5.4205000e+02, 5.1743150e+04, 0.0000000e+00, 2.0000000e+00],
       [0.0000000e+00, 1.1698380e+05, 4.5173060e+04, 0.0000000e+00],
       [1.6534920e+05, 1.3689780e+05, 4.7178410e+05, 2.0000000e+00],
       [1.6259770e+05, 1.5137759e+05, 4.4389853e+05, 0.0000000e+00],
       [1.5344151e+05, 1.0114555e+05, 4.0793454e+05, 1.0000000e+00],
       [1.4437241e+05, 1.1867185e+05, 3.8319962e+05, 2.0000000e+00],
       [1.4210734e+05, 9.1391770e+04, 3.6616842e+05, 1.0000000e+00],
       [1.3187690e+05, 9.9814710e+04, 3.6286136e+05, 2.0000000e+00],
       [1.3461546e+05, 1.4719887e+05, 1.2771682e+05, 0.0000000e+00],
       [1.3029813e+05, 1.4553006e+05, 3.2387668e+05, 1.0000000e+00],
       [1.2054252e+05, 1.4871895e+05, 3.1161329e+05, 2.0000000e+00],
       [1.2333488e+05, 1.0867917e+05, 3.0498162e+05, 0.0000000e+00],
       [1.0191308e+05, 1.1059411e+05, 2.2916095e+05, 1.0000000e+00],
       [1.0067196e+05, 9.1790610e+04, 2.4974455e+05, 0.0000000e+00],
       [9.3863750e+04, 1.2732038e+05, 2.4983944e+05, 1.0000000e+00],
       [9.1992390e+04, 1.3549507e+05, 2.5266493e+05, 0.0000000e+00],
       [1.1994324e+05, 1.5654742e+05, 2.5651292e+05, 1.0000000e+00],
       [1.1452361e+05, 1.2261684e+05, 2.6177623e+05, 2.0000000e+00],
       [7.8013110e+04, 1.2159755e+05, 2.6434606e+05, 0.0000000e+00],
       [9.4657160e+04, 1.4507758e+05, 2.8257431e+05, 2.0000000e+00],
       [9.1749160e+04, 1.1417579e+05, 2.9491957e+05, 1.0000000e+00]])

In [478]:
y=df.iloc[:,4:5].values

In [479]:
y

array([[192261.83],
       [191792.06],
       [191050.39],
       [182901.99],
       [166187.94],
       [156991.12],
       [156122.51],
       [155752.6 ],
       [152211.77],
       [149759.96],
       [146121.95],
       [144259.4 ],
       [141585.52],
       [134307.35],
       [132602.65],
       [129917.04],
       [126992.93],
       [125370.37],
       [124266.9 ],
       [122776.86],
       [118474.03],
       [111313.02],
       [110352.25],
       [108733.99],
       [108552.04],
       [107404.34],
       [105733.54],
       [105008.31],
       [103282.38],
       [101004.64],
       [ 99937.59],
       [ 97483.56],
       [ 97427.84],
       [ 96778.92],
       [ 96712.8 ],
       [ 96479.51],
       [ 90708.19],
       [ 89949.14],
       [ 81229.06],
       [ 81005.76],
       [ 78239.91],
       [ 77798.83],
       [ 71498.49],
       [ 69758.98],
       [ 65200.33],
       [ 64926.08],
       [ 49490.75],
       [ 42559.73],
       [ 35673.41],
       [ 14681.4 ],
       [144259.4 ],
       [141585.52],
       [134307.35],
       [132602.65],
       [129917.04],
       [126992.93],
       [125370.37],
       [124266.9 ],
       [122776.86],
       [118474.03],
       [111313.02],
       [110352.25],
       [108733.99],
       [108552.04],
       [107404.34],
       [105733.54],
       [105008.31],
       [103282.38],
       [101004.64],
       [ 99937.59],
       [ 97483.56],
       [ 97427.84],
       [ 96778.92],
       [ 96712.8 ],
       [ 96479.51],
       [ 90708.19],
       [ 89949.14],
       [ 81229.06],
       [ 81005.76],
       [ 78239.91],
       [ 77798.83],
       [ 71498.49],
       [ 69758.98],
       [ 65200.33],
       [ 64926.08],
       [ 49490.75],
       [ 42559.73],
       [ 35673.41],
       [ 14681.4 ],
       [192261.83],
       [191792.06],
       [191050.39],
       [182901.99],
       [166187.94],
       [156991.12],
       [156122.51],
       [155752.6 ],
       [152211.77],
       [149759.96],
       [146121.95],
       [144259.4 ],
       [141585.52],
       [134307.35],
       [132602.65],
       [129917.04],
       [126992.93],
       [125370.37],
       [124266.9 ]])

# One Hot Encoding

In [480]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()
z=ohe.fit_transform(x[:,3:4]).toarray()

In [481]:
z

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [482]:
x=np.delete(x,3,axis=1)

In [483]:
x

array([[165349.2 , 136897.8 , 471784.1 ],
       [162597.7 , 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34,  91391.77, 366168.42],
       [131876.9 ,  99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 94657.16, 145077.58, 282574.31],
       [ 91749.16, 114175.79, 294919.57],
       [ 86419.7 , 153514.11,      0.  ],
       [ 76253.86, 113867.3 , 298664.47],
       [ 78389.47, 153773.43, 299737.29],
       [ 73994.56, 122782.75, 303319.26],
       [ 67532.53, 105751.03, 304768.73],
       [ 77044.01,  99281.34, 140574.81],
       [ 64664.71, 139553.16, 137962.62],
       [ 75328.87, 144135.98, 134050.07],
       [ 72107.6 , 127864.55, 353183.81],
       [ 66051.52, 182645.56, 118148.2 ],
       [ 65605.48, 153032.06, 107138.38],
       [ 61994.48, 115641.28,  91131.24],
       [ 61136.38, 152701.92,  88218.23],
       [ 63408.86, 129219.61,  46085.25],
       [ 55493.95, 103057.49, 214634.81],
       [ 46426.07, 157693.92, 210797.67],
       [ 46014.02,  85047.44, 205517.64],
       [ 28663.76, 127056.21, 201126.82],
       [ 44069.95,  51283.14, 197029.42],
       [ 20229.59,  65947.93, 185265.1 ],
       [ 38558.51,  82982.09, 174999.3 ],
       [ 28754.33, 118546.05, 172795.67],
       [ 27892.92,  84710.77, 164470.71],
       [ 23640.93,  96189.63, 148001.11],
       [ 15505.73, 127382.3 ,  35534.17],
       [ 22177.74, 154806.14,  28334.72],
       [  1000.23, 124153.04,   1903.93],
       [  1315.46, 115816.21, 297114.46],
       [     0.  , 135426.92,      0.  ],
       [   542.05,  51743.15,      0.  ],
       [     0.  , 116983.8 ,  45173.06],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 94657.16, 145077.58, 282574.31],
       [ 91749.16, 114175.79, 294919.57],
       [ 86419.7 , 153514.11,      0.  ],
       [ 76253.86, 113867.3 , 298664.47],
       [ 78389.47, 153773.43, 299737.29],
       [ 73994.56, 122782.75, 303319.26],
       [ 67532.53, 105751.03, 304768.73],
       [ 77044.01,  99281.34, 140574.81],
       [ 64664.71, 139553.16, 137962.62],
       [ 75328.87, 144135.98, 134050.07],
       [ 72107.6 , 127864.55, 353183.81],
       [ 66051.52, 182645.56, 118148.2 ],
       [ 65605.48, 153032.06, 107138.38],
       [ 61994.48, 115641.28,  91131.24],
       [ 20229.59, 152701.92,  88218.23],
       [ 63408.86, 129219.61,  46085.25],
       [ 55493.95, 103057.49, 214634.81],
       [ 46426.07, 157693.92, 210797.67],
       [ 20229.59,  85047.44, 205517.64],
       [ 28663.76, 127056.21, 201126.82],
       [ 44069.95,  51283.14, 197029.42],
       [ 20229.59,  65947.93, 185265.1 ],
       [ 38558.51,  82982.09, 174999.3 ],
       [ 28754.33, 118546.05, 172795.67],
       [ 27892.92,  84710.77, 164470.71],
       [ 23640.93,  96189.63, 148001.11],
       [ 20229.59, 127382.3 ,  35534.17],
       [ 22177.74, 154806.14,  28334.72],
       [  1000.23, 124153.04,   1903.93],
       [  1315.46, 115816.21, 297114.46],
       [     0.  , 135426.92,      0.  ],
       [   542.05,  51743.15,      0.  ],
       [     0.  , 116983.8 ,  45173.06],
       [165349.2 , 136897.8 , 471784.1 ],
       [162597.7 , 151377.59, 443898.53],
       [153441.51, 101145.55, 407934.54],
       [144372.41, 118671.85, 383199.62],
       [142107.34,  91391.77, 366168.42],
       [131876.9 ,  99814.71, 362861.36],
       [134615.46, 147198.87, 127716.82],
       [130298.13, 145530.06, 323876.68],
       [120542.52, 148718.95, 311613.29],
       [123334.88, 108679.17, 304981.62],
       [101913.08, 110594.11, 229160.95],
       [100671.96,  91790.61, 249744.55],
       [ 93863.75, 127320.38, 249839.44],
       [ 91992.39, 135495.07, 252664.93],
       [119943.24, 156547.42, 256512.92],
       [114523.61, 122616.84, 261776.23],
       [ 78013.11, 121597.55, 264346.06],
       [ 94657.16, 145077.58, 282574.31],
       [ 91749.16, 114175.79, 294919.57]])

In [484]:
x=np.concatenate((z,x),axis=1)

In [485]:
x

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.6534920e+05,
        1.3689780e+05, 4.7178410e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.6259770e+05,
        1.5137759e+05, 4.4389853e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5344151e+05,
        1.0114555e+05, 4.0793454e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.4437241e+05,
        1.1867185e+05, 3.8319962e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4210734e+05,
        9.1391770e+04, 3.6616842e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.3187690e+05,
        9.9814710e+04, 3.6286136e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3461546e+05,
        1.4719887e+05, 1.2771682e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3029813e+05,
        1.4553006e+05, 3.2387668e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2054252e+05,
        1.4871895e+05, 3.1161329e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2333488e+05,
        1.0867917e+05, 3.0498162e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0191308e+05,
        1.1059411e+05, 2.2916095e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0067196e+05,
        9.1790610e+04, 2.4974455e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.3863750e+04,
        1.2732038e+05, 2.4983944e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1994324e+05,
        1.5654742e+05, 2.5651292e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1452361e+05,
        1.2261684e+05, 2.6177623e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8013110e+04,
        1.2159755e+05, 2.6434606e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.4657160e+04,
        1.4507758e+05, 2.8257431e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.1749160e+04,
        1.1417579e+05, 2.9491957e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 8.6419700e+04,
        1.5351411e+05, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.6253860e+04,
        1.1386730e+05, 2.9866447e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.8389470e+04,
        1.5377343e+05, 2.9973729e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.3994560e+04,
        1.2278275e+05, 3.0331926e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.7532530e+04,
        1.0575103e+05, 3.0476873e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.7044010e+04,
        9.9281340e+04, 1.4057481e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.4664710e+04,
        1.3955316e+05, 1.3796262e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.5328870e+04,
        1.4413598e+05, 1.3405007e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.2107600e+04,
        1.2786455e+05, 3.5318381e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.6051520e+04,
        1.8264556e+05, 1.1814820e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.5605480e+04,
        1.5303206e+05, 1.0713838e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.1994480e+04,
        1.1564128e+05, 9.1131240e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.1136380e+04,
        1.5270192e+05, 8.8218230e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.3408860e+04,
        1.2921961e+05, 4.6085250e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 5.5493950e+04,
        1.0305749e+05, 2.1463481e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.6426070e+04,
        1.5769392e+05, 2.1079767e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 4.6014020e+04,
        8.5047440e+04, 2.0551764e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.8663760e+04,
        1.2705621e+05, 2.0112682e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.4069950e+04,
        5.1283140e+04, 1.9702942e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        6.5947930e+04, 1.8526510e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 3.8558510e+04,
        8.2982090e+04, 1.7499930e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.8754330e+04,
        1.1854605e+05, 1.7279567e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.7892920e+04,
        8.4710770e+04, 1.6447071e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.3640930e+04,
        9.6189630e+04, 1.4800111e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.5505730e+04,
        1.2738230e+05, 3.5534170e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.2177740e+04,
        1.5480614e+05, 2.8334720e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0002300e+03,
        1.2415304e+05, 1.9039300e+03],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3154600e+03,
        1.1581621e+05, 2.9711446e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.3542692e+05, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 5.4205000e+02,
        5.1743150e+04, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.1698380e+05, 4.5173060e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0067196e+05,
        9.1790610e+04, 2.4974455e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.3863750e+04,
        1.2732038e+05, 2.4983944e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1994324e+05,
        1.5654742e+05, 2.5651292e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1452361e+05,
        1.2261684e+05, 2.6177623e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8013110e+04,
        1.2159755e+05, 2.6434606e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.4657160e+04,
        1.4507758e+05, 2.8257431e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.1749160e+04,
        1.1417579e+05, 2.9491957e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 8.6419700e+04,
        1.5351411e+05, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.6253860e+04,
        1.1386730e+05, 2.9866447e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.8389470e+04,
        1.5377343e+05, 2.9973729e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.3994560e+04,
        1.2278275e+05, 3.0331926e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.7532530e+04,
        1.0575103e+05, 3.0476873e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.7044010e+04,
        9.9281340e+04, 1.4057481e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.4664710e+04,
        1.3955316e+05, 1.3796262e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.5328870e+04,
        1.4413598e+05, 1.3405007e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.2107600e+04,
        1.2786455e+05, 3.5318381e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 6.6051520e+04,
        1.8264556e+05, 1.1814820e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.5605480e+04,
        1.5303206e+05, 1.0713838e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.1994480e+04,
        1.1564128e+05, 9.1131240e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        1.5270192e+05, 8.8218230e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 6.3408860e+04,
        1.2921961e+05, 4.6085250e+04],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 5.5493950e+04,
        1.0305749e+05, 2.1463481e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 4.6426070e+04,
        1.5769392e+05, 2.1079767e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        8.5047440e+04, 2.0551764e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.8663760e+04,
        1.2705621e+05, 2.0112682e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.4069950e+04,
        5.1283140e+04, 1.9702942e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        6.5947930e+04, 1.8526510e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 3.8558510e+04,
        8.2982090e+04, 1.7499930e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.8754330e+04,
        1.1854605e+05, 1.7279567e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.7892920e+04,
        8.4710770e+04, 1.6447071e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.3640930e+04,
        9.6189630e+04, 1.4800111e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 2.0229590e+04,
        1.2738230e+05, 3.5534170e+04],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 2.2177740e+04,
        1.5480614e+05, 2.8334720e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0002300e+03,
        1.2415304e+05, 1.9039300e+03],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3154600e+03,
        1.1581621e+05, 2.9711446e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.3542692e+05, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 5.4205000e+02,
        5.1743150e+04, 0.0000000e+00],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.1698380e+05, 4.5173060e+04],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.6534920e+05,
        1.3689780e+05, 4.7178410e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.6259770e+05,
        1.5137759e+05, 4.4389853e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5344151e+05,
        1.0114555e+05, 4.0793454e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.4437241e+05,
        1.1867185e+05, 3.8319962e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.4210734e+05,
        9.1391770e+04, 3.6616842e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.3187690e+05,
        9.9814710e+04, 3.6286136e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.3461546e+05,
        1.4719887e+05, 1.2771682e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3029813e+05,
        1.4553006e+05, 3.2387668e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2054252e+05,
        1.4871895e+05, 3.1161329e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.2333488e+05,
        1.0867917e+05, 3.0498162e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0191308e+05,
        1.1059411e+05, 2.2916095e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0067196e+05,
        9.1790610e+04, 2.4974455e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.3863750e+04,
        1.2732038e+05, 2.4983944e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1994324e+05,
        1.5654742e+05, 2.5651292e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1452361e+05,
        1.2261684e+05, 2.6177623e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8013110e+04,
        1.2159755e+05, 2.6434606e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 9.4657160e+04,
        1.4507758e+05, 2.8257431e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.1749160e+04,
        1.1417579e+05, 2.9491957e+05]])

In [486]:
x.shape

(108, 6)

# Train,Test & Split

In [487]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [488]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(86, 6)
(22, 6)
(86, 1)
(22, 1)

# Model Building

In [489]:
from sklearn.tree import DecisionTreeRegressor
dtr=DecisionTreeRegressor(random_state=0)
dtr.fit(x_train,y_train)

DecisionTreeRegressor(random_state=0)

In [490]:
x_test

array([[0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0002300e+03,
        1.2415304e+05, 1.9039300e+03],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.0191308e+05,
        1.1059411e+05, 2.2916095e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 2.8663760e+04,
        1.2705621e+05, 2.0112682e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.5344151e+05,
        1.0114555e+05, 4.0793454e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.7044010e+04,
        9.9281340e+04, 1.4057481e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 1.0067196e+05,
        9.1790610e+04, 2.4974455e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 9.1749160e+04,
        1.1417579e+05, 2.9491957e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3029813e+05,
        1.4553006e+05, 3.2387668e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 7.8013110e+04,
        1.2159755e+05, 2.6434606e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 0.0000000e+00,
        1.3542692e+05, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 6.5605480e+04,
        1.5303206e+05, 1.0713838e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 7.3994560e+04,
        1.2278275e+05, 3.0331926e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.0002300e+03,
        1.2415304e+05, 1.9039300e+03],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 7.8389470e+04,
        1.5377343e+05, 2.9973729e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 4.4069950e+04,
        5.1283140e+04, 1.9702942e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05],
       [1.0000000e+00, 0.0000000e+00, 0.0000000e+00, 9.1992390e+04,
        1.3549507e+05, 2.5266493e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 4.6426070e+04,
        1.5769392e+05, 2.1079767e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.3154600e+03,
        1.1581621e+05, 2.9711446e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.1452361e+05,
        1.2261684e+05, 2.6177623e+05],
       [0.0000000e+00, 1.0000000e+00, 0.0000000e+00, 1.1994324e+05,
        1.5654742e+05, 2.5651292e+05],
       [0.0000000e+00, 0.0000000e+00, 1.0000000e+00, 1.2054252e+05,
        1.4871895e+05, 3.1161329e+05]])

In [491]:
dtr_pred=dtr.predict(x_test)

In [492]:
dtr_pred

array([ 35673.41, 146121.95,  90708.19, 191050.39, 108552.04, 144259.4 ,
       124266.9 , 155752.6 , 126992.93,  42559.73, 101004.64, 110352.25,
        35673.41, 111313.02,  89949.14, 134307.35, 134307.35,  96712.8 ,
        49490.75, 129917.04, 132602.65, 152211.77])

In [493]:
y_test

array([[ 64926.08],
       [146121.95],
       [ 90708.19],
       [191050.39],
       [108552.04],
       [144259.4 ],
       [124266.9 ],
       [155752.6 ],
       [126992.93],
       [ 42559.73],
       [101004.64],
       [110352.25],
       [ 64926.08],
       [111313.02],
       [ 89949.14],
       [134307.35],
       [134307.35],
       [ 96712.8 ],
       [ 49490.75],
       [129917.04],
       [132602.65],
       [152211.77]])

# R2 Score

In [494]:
from sklearn.metrics import r2_score
dtrscore=r2_score(dtr_pred,y_test)

In [495]:
dtrscore

0.9521580432188784

In [496]:
r2_score(dtr.predict(x_train),y_train)

1.0

# Test The Model

In [497]:
dtr.predict([[0,0,1,167447.54,36654.34,33933.3]])

array([192261.83])

In [498]:
dtr.predict([[1,0,0,15257.54,22154.34,341113.43]])

array([89949.14])

# Random Forest Regressor

In [499]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=5,random_state=0)

In [500]:
rfr

RandomForestRegressor(n_estimators=5, random_state=0)

In [501]:
rfr.fit(x_train,y_train)

C:\Users\HP\AppData\Local\Temp\ipykernel_12572\1947426121.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rfr.fit(x_train,y_train)

RandomForestRegressor(n_estimators=5, random_state=0)

In [502]:
rfrpred=rfr.predict(x_test)

In [503]:
rfrpred

array([ 24455.468, 145749.44 ,  88582.576, 187791.03 , 128036.856,
       144259.4  , 127730.624, 155826.582, 126992.93 ,  25832.732,
       101460.188, 110352.25 ,  24455.468, 115556.692,  92621.17 ,
       132299.26 , 132299.26 ,  96740.202,  28605.14 , 133513.412,
       136034.112, 131440.084])

In [504]:
y_test

array([[ 64926.08],
       [146121.95],
       [ 90708.19],
       [191050.39],
       [108552.04],
       [144259.4 ],
       [124266.9 ],
       [155752.6 ],
       [126992.93],
       [ 42559.73],
       [101004.64],
       [110352.25],
       [ 64926.08],
       [111313.02],
       [ 89949.14],
       [134307.35],
       [134307.35],
       [ 96712.8 ],
       [ 49490.75],
       [129917.04],
       [132602.65],
       [152211.77]])

# R2 Score

In [505]:
rfrscore=r2_score(rfrpred,y_test)

In [506]:
rfrscore

0.8877878972651758

# Classification

# Decision Tree Classifier

In [507]:
df=pd.read_csv(r'Downloads\loan_prediction.csv')

In [508]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [509]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 614 entries, 0 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            614 non-null    object
 1   Gender             601 non-null    object
 2   Married            611 non-null    object
 3   Dependents         599 non-null    object
 4   Education          614 non-null    object
 5   Self_Employed      582 non-null    object
 6   ApplicantIncome    614 non-null    int64
 7   CoapplicantIncome  614 non-null    float64
 8   LoanAmount         592 non-null    float64
 9   Loan_Amount_Term   600 non-null    float64
 10  Credit_History     564 non-null    float64
 11  Property_Area      614 non-null    object
 12  Loan_Status        614 non-null    object
dtypes: float64(4), int64(1), object(8)
memory usage: 62.5+ KB

In [510]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [511]:
df.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [512]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [513]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [514]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [515]:
df['Dependents'].unique()

array(['0', '1', '2', '3+', nan], dtype=object)

In [516]:
df['Gender']=df['Gender'].map({'Male':1,'Female':0})
df['Married']=df['Married'].map({'Yes':1,'No':0})
df['Dependents'].replace('3+',3,inplace=True)
df['Education']=df['Education'].map({'Graduate':1,'Not Graduate':0})
df['Self_Employed']=df['Self_Employed'].map({'Yes':1,'No':0})
df['Property_Area']=df['Property_Area'].map({'Urban':1,'Rural':2,'Semiurban':3})
df['Loan_Status']=df['Loan_Status'].map({'Y':1,'N':0})


null=['Gender','Married','Dependents','Self_Employed','Credit_History','LoanAmount','Loan_Amount_Term']
df[null]=df[null].replace({np.nan:df['Gender'].mode(),
                           np.nan:df['Married'].mode(),
                           np.nan:df['Dependents'].mode(),
                           np.nan:df['Self_Employed'].mode(),
                           np.nan:df['Credit_History'].mode(),
                           np.nan:df['LoanAmount'].mean(),
                           np.nan:df['Loan_Amount_Term'].mean()
                           })

In [517]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1.0,0.0,0,1,0.0,5849,0.0,342.0,360.0,1.0,1,1
1,LP001003,1.0,1.0,1,1,0.0,4583,1508.0,128.0,360.0,1.0,2,0
2,LP001005,1.0,1.0,0,1,1.0,3000,0.0,66.0,360.0,1.0,1,1
3,LP001006,1.0,1.0,0,0,0.0,2583,2358.0,120.0,360.0,1.0,1,1
4,LP001008,1.0,0.0,0,1,0.0,6000,0.0,141.0,360.0,1.0,1,1

In [518]:
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Independent & Dependent Variable

In [519]:
x=df.drop(columns=['Loan_ID','Loan_Status']).values

In [520]:
x

array([[1.0, 0.0, '0', ..., 360.0, 1.0, 1],
       [1.0, 1.0, '1', ..., 360.0, 1.0, 2],
       [1.0, 1.0, '0', ..., 360.0, 1.0, 1],
       ...,
       [1.0, 1.0, '1', ..., 360.0, 1.0, 1],
       [1.0, 1.0, '2', ..., 360.0, 1.0, 1],
       [0.0, 0.0, '0', ..., 360.0, 0.0, 3]], dtype=object)

In [521]:
y=df['Loan_Status'].values

In [522]:
y

array([1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0],
      dtype=int64)

# Train,Test & Split

In [523]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=5)

In [524]:
x_train

array([[1.0, 1.0, '2', ..., 360.0, 1.0, 3],
       [1.0, 0.0, '0', ..., 360.0, 1.0, 2],
       [1.0, 1.0, '0', ..., 360.0, 1.0, 3],
       ...,
       [1.0, 1.0, '2', ..., 180.0, 0.0, 1],
       [1.0, 1.0, '0', ..., 360.0, 1.0, 2],
       [0.0, 0.0, '0', ..., 360.0, 1.0, 1]], dtype=object)

In [525]:
x_test

array([[1.0, 1.0, '0', ..., 300.0, 1.0, 3],
       [0.0, 0.0, '0', ..., 360.0, 1.0, 3],
       [1.0, 1.0, '0', ..., 360.0, 1.0, 1],
       ...,
       [1.0, 1.0, 3, ..., 360.0, 0.0, 3],
       [1.0, 1.0, '1', ..., 360.0, 1.0, 3],
       [1.0, 1.0, '0', ..., 360.0, 1.0, 3]], dtype=object)

In [526]:
y_train

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 0, 0, 0, 1], dtype=int64)

In [527]:
y_test

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

# Feature Scaling

In [528]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

# Model Building

In [529]:
from sklearn.tree import DecisionTreeClassifier
dtc=DecisionTreeClassifier(criterion='entropy')
dtc.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [530]:
dtcpred=dtc.predict(x_test)

In [531]:
dtcpred

array([1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1], dtype=int64)

In [532]:
y_test

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

# Confusion Matrix

In [533]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(dtcpred,y_test)

In [534]:
cm

array([[19, 14],
       [21, 69]], dtype=int64)

# Accuracy

In [535]:
from sklearn.metrics import accuracy_score
dtcacc=accuracy_score(dtcpred,y_test)

In [536]:
dtcacc

0.7154471544715447

# Random Forest Classifier

In [537]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(criterion='entropy')
rfc.fit(x_train,y_train)

RandomForestClassifier(criterion='entropy')

In [538]:
rfcpred=rfc.predict(x_test)

In [539]:
rfcpred

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1], dtype=int64)

In [540]:
y_test

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1], dtype=int64)

In [541]:
rfcacc=accuracy_score(rfcpred,y_test)

In [542]:
rfcacc

0.7967479674796748

# SMOTE Algorithm

In [543]:
print("Before Oversampling counts of label 1:{}".format(sum(y_train==1)))
print("Before Oversampling counts of label 0:{}".format(sum(y_train==0)))

Before Oversampling counts of label 1:339
Before Oversampling counts of label 0:152

In [544]:
from imblearn.over_sampling import SMOTE
sm=SMOTE(random_state=2)
X_train_res,y_train_res=sm.fit_resample(x_train,y_train.ravel())

In [545]:
print("After Oversampling the shape of x_train:{}".format(X_train_res.shape))
print("After Oversampling the shape of y_train:{}".format(y_train_res.shape))

After Oversampling the shape of x_train:(678, 11)
After Oversampling the shape of y_train:(678,)

In [546]:
print("After Oversampling counts of label 1:{}".format(sum(y_train_res==1)))
print("After Oversampling counts of label 0:{}".format(sum(y_train_res==0)))

After Oversampling counts of label 1:339
After Oversampling counts of label 0:339

In [547]:
dtc.fit(X_train_res,y_train_res.ravel())
pred=dtc.predict(x_test)

In [548]:
dtcacc=accuracy_score(pred,y_test)

In [549]:
dtcacc

0.6829268292682927

In [550]:
rfc.fit(X_train_res,y_train_res.ravel())
pred=rfc.predict(x_test)

In [551]:
rfcacc=accuracy_score(pred,y_test)

In [552]:
rfcacc

0.7886178861788617

# Near-Miss Algorithm

In [553]:
print("Before Undersampling counts of label 1:{}".format(sum(y_train==1)))
print("Before Undersampling counts of label 0:{}".format(sum(y_train==0)))

Before Undersampling counts of label 1:339
Before Undersampling counts of label 0:152

In [554]:
from imblearn.under_sampling import NearMiss
nm=NearMiss()
X_train_miss,y_train_miss=nm.fit_resample(x_train,y_train.ravel())

In [555]:
print("After Undersampling the shape of x_train:{}".format(X_train_miss.shape))
print("After Undersampling the shape of y_train:{}".format(y_train_miss.shape))

After Undersampling the shape of x_train:(304, 11)
After Undersampling the shape of y_train:(304,)

In [557]:
print("After Undersampling counts of label 1:{}".format(sum(y_train_miss==1)))
print("After Undersampling counts of label 0:{}".format(sum(y_train_miss==0)))

After Undersampling counts of label 1:152
After Undersampling counts of label 0:152

In [558]:
dtc.fit(X_train_miss,y_train_miss.ravel())
pred=dtc.predict(x_test)

In [559]:
pred

array([0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1], dtype=int64)

In [560]:
dtcacc=accuracy_score(pred,y_test)

In [561]:
dtcacc

0.6341463414634146

In [562]:
rfc.fit(X_train_miss,y_train_miss.ravel())
pred=rfc.predict(x_test)

In [563]:
rfcacc=accuracy_score(pred,y_test)

In [564]:
rfcacc

0.6016260162601627

# Naive Bayes

In [565]:
df=pd.read_csv(r'Downloads\Social_Network_Ads.csv')

In [566]:
df

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [567]:
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [568]:
df.tail()

      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [569]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   User ID          400 non-null    int64
 1   Gender           400 non-null    object
 2   Age              400 non-null    int64
 3   EstimatedSalary  400 non-null    int64
 4   Purchased        400 non-null    int64
dtypes: int64(4), object(1)
memory usage: 15.8+ KB

In [570]:
df.describe()

            User ID         Age  EstimatedSalary   Purchased
count  4.000000e+02  400.000000       400.000000  400.000000
mean   1.569154e+07   37.655000     69742.500000    0.357500
std    7.165832e+04   10.482877     34096.960282    0.479864
min    1.556669e+07   18.000000     15000.000000    0.000000
25%    1.562676e+07   29.750000     43000.000000    0.000000
50%    1.569434e+07   37.000000     70000.000000    0.000000
75%    1.575036e+07   46.000000     88000.000000    1.000000
max    1.581524e+07   60.000000    150000.000000    1.000000

In [571]:
df.isnull().sum()

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [572]:
df.shape

(400, 5)

# Independent & Dependent Variable

In [573]:
x=df.iloc[:,[2,3]].values

In [574]:
x

array([[    19,  19000],
       [    35,  20000],
       [    26,  43000],
       [    27,  57000],
       [    19,  76000],
       [    27,  58000],
       [    27,  84000],
       [    32, 150000],
       [    25,  33000],
       [    35,  65000],
       [    26,  80000],
       [    26,  52000],
       [    20,  86000],
       [    32,  18000],
       [    18,  82000],
       [    29,  80000],
       [    47,  25000],
       [    45,  26000],
       [    46,  28000],
       [    48,  29000],
       [    45,  22000],
       [    47,  49000],
       [    48,  41000],
       [    45,  22000],
       [    46,  23000],
       [    47,  20000],
       [    49,  28000],
       [    47,  30000],
       [    29,  43000],
       [    31,  18000],
       [    31,  74000],
       [    27, 137000],
       [    21,  16000],
       [    28,  44000],
       [    27,  90000],
       [    35,  27000],
       [    33,  28000],
       [    30,  49000],
       [    26,  72000],
       [    27,  31000],
       [    27,  17000],
       [    33,  51000],
       [    35, 108000],
       [    30,  15000],
       [    28,  84000],
       [    23,  20000],
       [    25,  79000],
       [    27,  54000],
       [    30, 135000],
       [    31,  89000],
       [    24,  32000],
       [    18,  44000],
       [    29,  83000],
       [    35,  23000],
       [    27,  58000],
       [    24,  55000],
       [    23,  48000],
       [    28,  79000],
       [    22,  18000],
       [    32, 117000],
       [    27,  20000],
       [    25,  87000],
       [    23,  66000],
       [    32, 120000],
       [    59,  83000],
       [    24,  58000],
       [    24,  19000],
       [    23,  82000],
       [    22,  63000],
       [    31,  68000],
       [    25,  80000],
       [    24,  27000],
       [    20,  23000],
       [    33, 113000],
       [    32,  18000],
       [    34, 112000],
       [    18,  52000],
       [    22,  27000],
       [    28,  87000],
       [    26,  17000],
       [    30,  80000],
       [    39,  42000],
       [    20,  49000],
       [    35,  88000],
       [    30,  62000],
       [    31, 118000],
       [    24,  55000],
       [    28,  85000],
       [    26,  81000],
       [    35,  50000],
       [    22,  81000],
       [    30, 116000],
       [    26,  15000],
       [    29,  28000],
       [    29,  83000],
       [    35,  44000],
       [    35,  25000],
       [    28, 123000],
       [    35,  73000],
       [    28,  37000],
       [    27,  88000],
       [    28,  59000],
       [    32,  86000],
       [    33, 149000],
       [    19,  21000],
       [    21,  72000],
       [    26,  35000],
       [    27,  89000],
       [    26,  86000],
       [    38,  80000],
       [    39,  71000],
       [    37,  71000],
       [    38,  61000],
       [    37,  55000],
       [    42,  80000],
       [    40,  57000],
       [    35,  75000],
       [    36,  52000],
       [    40,  59000],
       [    41,  59000],
       [    36,  75000],
       [    37,  72000],
       [    40,  75000],
       [    35,  53000],
       [    41,  51000],
       [    39,  61000],
       [    42,  65000],
       [    26,  32000],
       [    30,  17000],
       [    26,  84000],
       [    31,  58000],
       [    33,  31000],
       [    30,  87000],
       [    21,  68000],
       [    28,  55000],
       [    23,  63000],
       [    20,  82000],
       [    30, 107000],
       [    28,  59000],
       [    19,  25000],
       [    19,  85000],
       [    18,  68000],
       [    35,  59000],
       [    30,  89000],
       [    34,  25000],
       [    24,  89000],
       [    27,  96000],
       [    41,  30000],
       [    29,  61000],
       [    20,  74000],
       [    26,  15000],
       [    41,  45000],
       [    31,  76000],
       [    36,  50000],
       [    40,  47000],
       [    31,  15000],
       [    46,  59000],
       [    29,  75000],
       [    26,  30000],
       [    32, 135000],
       [    32, 100000],
       [    25,  90000],
       [    37,  33000],
       [    35,  38000],
       [    33,  69000],
       [    18,  86000],
       [    22,  55000],
       [    35,  71000],
       [    29, 148000],
       [    29,  47000],
       [    21,  88000],
       [    34, 115000],
       [    26, 118000],
       [    34,  43000],
       [    34,  72000],
       [    23,  28000],
       [    35,  47000],
       [    25,  22000],
       [    24,  23000],
       [    31,  34000],
       [    26,  16000],
       [    31,  71000],
       [    32, 117000],
       [    33,  43000],
       [    33,  60000],
       [    31,  66000],
       [    20,  82000],
       [    33,  41000],
       [    35,  72000],
       [    28,  32000],
       [    24,  84000],
       [    19,  26000],
       [    29,  43000],
       [    19,  70000],
       [    28,  89000],
       [    34,  43000],
       [    30,  79000],
       [    20,  36000],
       [    26,  80000],
       [    35,  22000],
       [    35,  39000],
       [    49,  74000],
       [    39, 134000],
       [    41,  71000],
       [    58, 101000],
       [    47,  47000],
       [    55, 130000],
       [    52, 114000],
       [    40, 142000],
       [    46,  22000],
       [    48,  96000],
       [    52, 150000],
       [    59,  42000],
       [    35,  58000],
       [    47,  43000],
       [    60, 108000],
       [    49,  65000],
       [    40,  78000],
       [    46,  96000],
       [    59, 143000],
       [    41,  80000],
       [    35,  91000],
       [    37, 144000],
       [    60, 102000],
       [    35,  60000],
       [    37,  53000],
       [    36, 126000],
       [    56, 133000],
       [    40,  72000],
       [    42,  80000],
       [    35, 147000],
       [    39,  42000],
       [    40, 107000],
       [    49,  86000],
       [    38, 112000],
       [    46,  79000],
       [    40,  57000],
       [    37,  80000],
       [    46,  82000],
       [    53, 143000],
       [    42, 149000],
       [    38,  59000],
       [    50,  88000],
       [    56, 104000],
       [    41,  72000],
       [    51, 146000],
       [    35,  50000],
       [    57, 122000],
       [    41,  52000],
       [    35,  97000],
       [    44,  39000],
       [    37,  52000],
       [    48, 134000],
       [    37, 146000],
       [    50,  44000],
       [    52,  90000],
       [    41,  72000],
       [    40,  57000],
       [    58,  95000],
       [    45, 131000],
       [    35,  77000],
       [    36, 144000],
       [    55, 125000],
       [    35,  72000],
       [    48,  90000],
       [    42, 108000],
       [    40,  75000],
       [    37,  74000],
       [    47, 144000],
       [    40,  61000],
       [    43, 133000],
       [    59,  76000],
       [    60,  42000],
       [    39, 106000],
       [    57,  26000],
       [    57,  74000],
       [    38,  71000],
       [    49,  88000],
       [    52,  38000],
       [    50,  36000],
       [    59,  88000],
       [    35,  61000],
       [    37,  70000],
       [    52,  21000],
       [    48, 141000],
       [    37,  93000],
       [    37,  62000],
       [    48, 138000],
       [    41,  79000],
       [    37,  78000],
       [    39, 134000],
       [    49,  89000],
       [    55,  39000],
       [    37,  77000],
       [    35,  57000],
       [    36,  63000],
       [    42,  73000],
       [    43, 112000],
       [    45,  79000],
       [    46, 117000],
       [    58,  38000],
       [    48,  74000],
       [    37, 137000],
       [    37,  79000],
       [    40,  60000],
       [    42,  54000],
       [    51, 134000],
       [    47, 113000],
       [    36, 125000],
       [    38,  50000],
       [    42,  70000],
       [    39,  96000],
       [    38,  50000],
       [    49, 141000],
       [    39,  79000],
       [    39,  75000],
       [    54, 104000],
       [    35,  55000],
       [    45,  32000],
       [    36,  60000],
       [    52, 138000],
       [    53,  82000],
       [    41,  52000],
       [    48,  30000],
       [    48, 131000],
       [    41,  60000],
       [    41,  72000],
       [    42,  75000],
       [    36, 118000],
       [    47, 107000],
       [    38,  51000],
       [    48, 119000],
       [    42,  65000],
       [    40,  65000],
       [    57,  60000],
       [    36,  54000],
       [    58, 144000],
       [    35,  79000],
       [    38,  55000],
       [    39, 122000],
       [    53, 104000],
       [    35,  75000],
       [    38,  65000],
       [    47,  51000],
       [    47, 105000],
       [    41,  63000],
       [    53,  72000],
       [    54, 108000],
       [    39,  77000],
       [    38,  61000],
       [    38, 113000],
       [    37,  75000],
       [    42,  90000],
       [    37,  57000],
       [    36,  99000],
       [    60,  34000],
       [    54,  70000],
       [    41,  72000],
       [    40,  71000],
       [    42,  54000],
       [    43, 129000],
       [    53,  34000],
       [    47,  50000],
       [    42,  79000],
       [    42, 104000],
       [    59,  29000],
       [    58,  47000],
       [    46,  88000],
       [    38,  71000],
       [    54,  26000],
       [    60,  46000],
       [    60,  83000],
       [    39,  73000],
       [    59, 130000],
       [    37,  80000],
       [    46,  32000],
       [    46,  74000],
       [    42,  53000],
       [    41,  87000],
       [    58,  23000],
       [    42,  64000],
       [    48,  33000],
       [    44, 139000],
       [    49,  28000],
       [    57,  33000],
       [    56,  60000],
       [    49,  39000],
       [    39,  71000],
       [    47,  34000],
       [    48,  35000],
       [    48,  33000],
       [    47,  23000],
       [    45,  45000],
       [    60,  42000],
       [    39,  59000],
       [    46,  41000],
       [    51,  23000],
       [    50,  20000],
       [    36,  33000],
       [    49,  36000]], dtype=int64)

In [575]:
y=df.iloc[:,4].values

In [576]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

# Train,Test & Split

In [578]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

# Feature Scaling

In [579]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
x_train=ss.fit_transform(x_train)
x_test=ss.transform(x_test)

In [580]:
x_train

array([[ 1.92295008e+00,  2.14601566e+00],
       [ 2.02016082e+00,  3.78719297e-01],
       [-1.38221530e+00, -4.32498705e-01],
       [-1.18779381e+00, -1.01194013e+00],
       [ 1.92295008e+00, -9.25023920e-01],
       [ 3.67578135e-01,  2.91803083e-01],
       [ 1.73156642e-01,  1.46942725e-01],
       [ 2.02016082e+00,  1.74040666e+00],
       [ 7.56421121e-01, -8.38107706e-01],
       [ 2.70367388e-01, -2.87638347e-01],
       [ 3.67578135e-01, -1.71750061e-01],
       [-1.18475597e-01,  2.20395980e+00],
       [-1.47942605e+00, -6.35303205e-01],
       [-1.28500455e+00, -1.06988428e+00],
       [-1.38221530e+00,  4.07691369e-01],
       [-1.09058306e+00,  7.55356227e-01],
       [-1.47942605e+00, -2.00722133e-01],
       [ 9.50842613e-01, -1.06988428e+00],
       [ 9.50842613e-01,  5.81523798e-01],
       [ 3.67578135e-01,  9.87132798e-01],
       [ 5.61999628e-01, -8.96051849e-01],
       [-6.04529329e-01,  1.45068594e+00],
       [-2.12648508e-02, -5.77359062e-01],
       [-6.04529329e-01,  1.88526701e+00],
       [ 1.33968560e+00, -1.41754914e+00],
       [ 1.43689635e+00,  9.87132798e-01],
       [ 7.59458956e-02, -8.09135634e-01],
       [-2.12648508e-02, -2.58666276e-01],
       [-2.15686344e-01, -5.77359062e-01],
       [-2.15686344e-01, -2.00722133e-01],
       [-3.12897090e-01, -1.30166085e+00],
       [-3.12897090e-01, -5.77359062e-01],
       [ 3.67578135e-01,  8.89985821e-02],
       [ 8.53631867e-01, -6.06331134e-01],
       [ 2.02016082e+00, -1.18577256e+00],
       [ 1.04805336e+00, -1.42777990e-01],
       [ 6.59210374e-01,  1.76937873e+00],
       [-7.01740076e-01,  5.52551726e-01],
       [ 7.56421121e-01,  3.49747226e-01],
       [ 8.53631867e-01, -5.48386991e-01],
       [-1.18779381e+00, -1.59138156e+00],
       [ 2.11737157e+00,  9.29188655e-01],
       [-2.12648508e-02,  1.21890937e+00],
       [ 1.73156642e-01,  1.07404901e+00],
       [ 3.67578135e-01, -4.90442848e-01],
       [-3.12897090e-01, -3.16610419e-01],
       [ 9.50842613e-01, -8.38107706e-01],
       [ 9.50842613e-01,  1.85629494e+00],
       [-2.12648508e-02,  1.24788144e+00],
       [-8.96161568e-01,  2.26190394e+00],
       [-1.18779381e+00, -1.59138156e+00],
       [ 2.11737157e+00, -8.09135634e-01],
       [-1.38221530e+00, -1.47549328e+00],
       [ 3.67578135e-01,  2.29087602e+00],
       [ 7.56421121e-01,  7.55356227e-01],
       [-9.93372315e-01, -3.16610419e-01],
       [ 7.59458956e-02,  7.55356227e-01],
       [-9.93372315e-01,  5.52551726e-01],
       [ 2.70367388e-01,  6.00265106e-02],
       [ 6.59210374e-01, -1.27268878e+00],
       [-5.07318583e-01, -2.68897039e-02],
       [-1.77105829e+00,  3.49747226e-01],
       [-7.01740076e-01,  1.17970654e-01],
       [ 3.67578135e-01,  2.91803083e-01],
       [-3.12897090e-01,  6.00265106e-02],
       [-5.07318583e-01,  2.29087602e+00],
       [ 1.73156642e-01,  3.10544391e-02],
       [ 1.24247485e+00,  2.20395980e+00],
       [ 7.56421121e-01,  2.62831011e-01],
       [-3.12897090e-01,  1.46942725e-01],
       [-2.12648508e-02, -5.48386991e-01],
       [-2.15686344e-01,  1.46942725e-01],
       [-1.18475597e-01,  2.33858940e-01],
       [-2.12648508e-02, -2.58666276e-01],
       [ 2.11737157e+00,  1.10302108e+00],
       [-1.77105829e+00,  3.49747226e-01],
       [ 1.82573933e+00,  1.17970654e-01],
       [ 3.67578135e-01, -1.42777990e-01],
       [-1.18779381e+00,  2.91803083e-01],
       [ 7.56421121e-01,  1.36376973e+00],
       [-3.12897090e-01, -2.58666276e-01],
       [-1.67384754e+00, -5.58617754e-02],
       [-9.93372315e-01, -7.51191491e-01],
       [ 2.70367388e-01,  4.94607583e-01],
       [-1.18475597e-01, -1.06988428e+00],
       [-1.09058306e+00,  5.81523798e-01],
       [ 7.59458956e-02, -8.09135634e-01],
       [-9.93372315e-01,  1.53760216e+00],
       [-7.01740076e-01,  1.39274180e+00],
       [-1.28500455e+00,  4.94607583e-01],
       [-3.12897090e-01,  3.10544391e-02],
       [-1.18475597e-01,  2.08236764e-03],
       [-3.12897090e-01, -8.96051849e-01],
       [ 8.53631867e-01, -1.35960499e+00],
       [-3.12897090e-01,  2.23293187e+00],
       [ 9.50842613e-01,  1.97218323e+00],
       [-1.18779381e+00,  4.65635512e-01],
       [-1.28500455e+00,  2.62831011e-01],
       [ 1.33968560e+00,  1.97218323e+00],
       [ 1.24247485e+00, -1.35960499e+00],
       [-3.12897090e-01, -2.87638347e-01],
       [-5.07318583e-01,  1.24788144e+00],
       [-7.98950822e-01,  1.07404901e+00],
       [ 9.50842613e-01, -1.06988428e+00],
       [ 2.70367388e-01,  2.91803083e-01],
       [ 9.50842613e-01,  7.55356227e-01],
       [-7.01740076e-01, -1.50446535e+00],
       [-7.01740076e-01,  3.10544391e-02],
       [ 4.64788881e-01,  1.71143459e+00],
       [ 2.02016082e+00,  1.75914797e-01],
       [-1.96547978e+00, -7.51191491e-01],
       [-2.15686344e-01,  1.39274180e+00],
       [ 3.67578135e-01,  5.81523798e-01],
       [ 8.53631867e-01, -1.15680049e+00],
       [-1.18779381e+00, -7.80163563e-01],
       [ 1.73156642e-01,  2.33858940e-01],
       [ 7.56421121e-01, -3.16610419e-01],
       [ 2.02016082e+00, -8.09135634e-01],
       [ 7.56421121e-01,  1.17970654e-01],
       [-3.12897090e-01,  6.10495869e-01],
       [-9.93372315e-01, -3.16610419e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 2.02016082e+00,  2.11704359e+00],
       [ 1.82573933e+00, -1.27268878e+00],
       [ 1.33968560e+00, -9.25023920e-01],
       [ 8.53631867e-01,  1.24788144e+00],
       [ 1.43689635e+00,  2.11704359e+00],
       [-3.12897090e-01, -1.24371671e+00],
       [ 1.92295008e+00,  9.00216584e-01],
       [ 6.59210374e-01, -7.22219420e-01],
       [-1.47942605e+00,  3.49747226e-01],
       [ 7.56421121e-01, -1.35960499e+00],
       [ 3.67578135e-01, -1.42777990e-01],
       [-9.93372315e-01,  4.07691369e-01],
       [-2.12648508e-02, -3.16610419e-01],
       [-1.18779381e+00,  4.07691369e-01],
       [-8.96161568e-01, -1.21474464e+00],
       [-1.18475597e-01,  3.10544391e-02],
       [-1.57663679e+00, -4.32498705e-01],
       [ 9.50842613e-01, -1.01194013e+00],
       [ 1.04805336e+00, -1.21474464e+00],
       [-2.12648508e-02, -1.42777990e-01],
       [-1.09058306e+00, -1.53343742e+00],
       [ 7.56421121e-01, -1.21474464e+00],
       [ 9.50842613e-01,  2.05909944e+00],
       [-1.18779381e+00, -1.53343742e+00],
       [-3.12897090e-01,  7.84328298e-01],
       [ 7.59458956e-02, -3.16610419e-01],
       [-1.38221530e+00, -1.24371671e+00],
       [-6.04529329e-01, -1.50446535e+00],
       [ 7.56421121e-01,  5.23579655e-01],
       [-3.12897090e-01, -3.45582490e-01],
       [ 1.72852858e+00, -2.87638347e-01],
       [ 8.53631867e-01, -1.04091221e+00],
       [ 1.73156642e-01,  6.00265106e-02],
       [-6.04529329e-01,  8.71244512e-01],
       [-1.86826903e+00, -1.41754914e+00],
       [-1.28500455e+00,  5.81523798e-01],
       [-3.12897090e-01,  5.23579655e-01],
       [-9.93372315e-01, -1.09885635e+00],
       [ 1.14526411e+00, -1.44652121e+00],
       [ 1.73156642e-01, -3.16610419e-01],
       [ 1.14526411e+00, -7.51191491e-01],
       [-3.12897090e-01,  6.00265106e-02],
       [ 1.73156642e-01,  2.08807152e+00],
       [ 7.56421121e-01, -1.09885635e+00],
       [ 7.59458956e-02,  3.10544391e-02],
       [-1.77105829e+00,  1.17970654e-01],
       [-8.96161568e-01,  1.46942725e-01],
       [-7.01740076e-01,  1.75914797e-01],
       [ 8.53631867e-01, -1.30166085e+00],
       [ 1.73156642e-01, -2.58666276e-01],
       [-4.10107836e-01,  1.21890937e+00],
       [-2.12648508e-02,  2.91803083e-01],
       [ 3.67578135e-01,  1.46942725e-01],
       [ 8.53631867e-01, -6.64275277e-01],
       [ 7.59458956e-02,  1.46942725e-01],
       [-1.86826903e+00, -1.30166085e+00],
       [-1.18475597e-01,  2.91803083e-01],
       [-2.15686344e-01, -2.87638347e-01],
       [ 2.70367388e-01, -5.19414919e-01],
       [-2.15686344e-01,  1.59554630e+00],
       [ 9.50842613e-01, -1.18577256e+00],
       [-2.15686344e-01,  1.62451837e+00],
       [ 1.24247485e+00,  1.85629494e+00],
       [-1.09058306e+00, -3.74554562e-01],
       [-2.12648508e-02,  3.10544391e-02],
       [ 7.59458956e-02, -2.58666276e-01],
       [-1.57663679e+00, -1.24371671e+00],
       [-5.07318583e-01, -2.87638347e-01],
       [ 9.50842613e-01,  1.17970654e-01],
       [ 1.92295008e+00, -1.35960499e+00],
       [ 1.43689635e+00,  6.00265106e-02],
       [-6.04529329e-01,  1.36376973e+00],
       [ 1.53410709e+00,  2.08236764e-03],
       [-7.98950822e-01,  2.91803083e-01],
       [ 1.92295008e+00,  7.26384155e-01],
       [-1.18779381e+00, -5.19414919e-01],
       [ 6.59210374e-01,  2.62831011e-01],
       [-1.38221530e+00, -4.32498705e-01],
       [ 1.73156642e-01,  1.46942725e-01],
       [-5.07318583e-01, -1.21474464e+00],
       [ 5.61999628e-01,  2.00115530e+00],
       [-1.57663679e+00, -1.50446535e+00],
       [-5.07318583e-01, -5.48386991e-01],
       [ 4.64788881e-01,  1.82732287e+00],
       [-1.38221530e+00, -1.09885635e+00],
       [ 7.56421121e-01, -1.38857706e+00],
       [-3.12897090e-01, -4.32498705e-01],
       [ 1.53410709e+00,  9.87132798e-01],
       [ 9.50842613e-01,  1.42171387e+00],
       [-3.12897090e-01, -4.90442848e-01],
       [-1.18475597e-01,  2.14601566e+00],
       [-1.47942605e+00, -1.13805918e-01],
       [-1.18475597e-01,  1.94321116e+00],
       [-7.01740076e-01, -3.45582490e-01],
       [-5.07318583e-01, -8.38107706e-01],
       [ 6.59210374e-01, -1.38857706e+00],
       [-7.98950822e-01, -1.59138156e+00],
       [-1.86826903e+00, -1.47549328e+00],
       [ 1.04805336e+00,  1.17970654e-01],
       [ 7.59458956e-02,  1.50863009e+00],
       [-3.12897090e-01,  8.89985821e-02],
       [ 7.59458956e-02,  3.10544391e-02],
       [-1.38221530e+00, -1.35960499e+00],
       [ 2.70367388e-01,  6.00265106e-02],
       [-8.96161568e-01,  3.78719297e-01],
       [ 1.53410709e+00, -1.27268878e+00],
       [-3.12897090e-01, -7.51191491e-01],
       [-1.18475597e-01,  1.46942725e-01],
       [-8.96161568e-01, -6.64275277e-01],
       [-7.01740076e-01, -5.58617754e-02],
       [ 3.67578135e-01, -4.61470776e-01],
       [-7.98950822e-01,  1.88526701e+00],
       [ 1.33968560e+00,  1.27685351e+00],
       [ 1.14526411e+00, -9.82968063e-01],
       [ 1.72852858e+00,  1.82732287e+00],
       [-8.96161568e-01, -2.58666276e-01],
       [-7.98950822e-01,  5.52551726e-01],
       [-1.18779381e+00, -1.56240949e+00],
       [-5.07318583e-01, -1.12782842e+00],
       [ 2.70367388e-01,  6.00265106e-02],
       [-2.15686344e-01, -1.06988428e+00],
       [ 1.63131784e+00,  1.59554630e+00],
       [ 9.50842613e-01,  1.76937873e+00],
       [ 2.70367388e-01,  3.10544391e-02],
       [-7.98950822e-01, -2.29694204e-01],
       [-1.18475597e-01,  6.00265106e-02],
       [ 2.70367388e-01, -2.00722133e-01],
       [ 1.92295008e+00, -6.64275277e-01],
       [-7.98950822e-01,  1.33479766e+00],
       [-1.77105829e+00, -6.06331134e-01],
       [-1.18475597e-01,  1.17970654e-01],
       [ 2.70367388e-01, -3.16610419e-01],
       [ 1.04805336e+00,  5.52551726e-01],
       [-9.93372315e-01,  2.62831011e-01],
       [ 1.43689635e+00,  3.49747226e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 2.11737157e+00, -1.04091221e+00],
       [-3.12897090e-01,  1.10302108e+00],
       [-1.67384754e+00,  6.00265106e-02],
       [-2.12648508e-02,  3.10544391e-02],
       [ 7.59458956e-02,  1.04507694e+00],
       [-1.18475597e-01, -3.74554562e-01],
       [-1.18779381e+00,  6.00265106e-02],
       [-3.12897090e-01, -1.35960499e+00],
       [ 1.53410709e+00,  1.10302108e+00],
       [-7.98950822e-01, -1.53343742e+00],
       [ 7.59458956e-02,  1.85629494e+00],
       [-8.96161568e-01, -7.80163563e-01],
       [-5.07318583e-01, -7.80163563e-01],
       [-3.12897090e-01, -9.25023920e-01],
       [ 2.70367388e-01, -7.22219420e-01],
       [ 2.70367388e-01,  6.00265106e-02],
       [ 7.59458956e-02,  1.85629494e+00],
       [-1.09058306e+00,  1.94321116e+00],
       [-1.67384754e+00, -1.56240949e+00],
       [-1.18779381e+00, -1.09885635e+00],
       [-7.01740076e-01, -1.13805918e-01],
       [ 7.59458956e-02,  8.89985821e-02],
       [ 2.70367388e-01,  2.62831011e-01],
       [ 8.53631867e-01, -5.77359062e-01],
       [ 2.70367388e-01, -1.15680049e+00],
       [-1.18475597e-01,  6.68440012e-01],
       [ 2.11737157e+00, -6.93247348e-01],
       [-1.28500455e+00, -1.38857706e+00],
       [-9.93372315e-01, -9.53995992e-01],
       [-2.12648508e-02, -4.32498705e-01],
       [-2.15686344e-01, -4.61470776e-01],
       [-1.77105829e+00, -9.82968063e-01],
       [ 1.72852858e+00,  9.87132798e-01],
       [ 1.73156642e-01, -3.74554562e-01],
       [ 3.67578135e-01,  1.10302108e+00],
       [-1.77105829e+00, -1.35960499e+00],
       [ 1.73156642e-01, -1.42777990e-01],
       [ 8.53631867e-01, -1.44652121e+00],
       [-1.96547978e+00,  4.65635512e-01],
       [-3.12897090e-01,  2.62831011e-01],
       [ 1.82573933e+00, -1.06988428e+00],
       [-4.10107836e-01,  6.00265106e-02],
       [ 1.04805336e+00, -8.96051849e-01],
       [-1.09058306e+00, -1.12782842e+00],
       [-1.86826903e+00,  2.08236764e-03],
       [ 7.59458956e-02,  2.62831011e-01],
       [-1.18779381e+00,  3.20775154e-01],
       [-1.28500455e+00,  2.91803083e-01],
       [-9.93372315e-01,  4.36663440e-01],
       [ 1.63131784e+00, -8.96051849e-01],
       [ 1.14526411e+00,  5.23579655e-01],
       [ 1.04805336e+00,  5.23579655e-01],
       [ 1.33968560e+00,  2.31984809e+00],
       [-3.12897090e-01, -1.42777990e-01],
       [ 3.67578135e-01, -4.61470776e-01],
       [-4.10107836e-01, -7.80163563e-01],
       [-1.18475597e-01, -5.19414919e-01],
       [ 9.50842613e-01, -1.15680049e+00],
       [-8.96161568e-01, -7.80163563e-01],
       [-2.15686344e-01, -5.19414919e-01],
       [-1.09058306e+00, -4.61470776e-01],
       [-1.18779381e+00,  1.39274180e+00]])

In [581]:
x_test

array([[-7.98950822e-01,  4.94607583e-01],
       [-2.12648508e-02, -5.77359062e-01],
       [-3.12897090e-01,  1.46942725e-01],
       [-7.98950822e-01,  2.62831011e-01],
       [-3.12897090e-01, -5.77359062e-01],
       [-1.09058306e+00, -1.44652121e+00],
       [-7.01740076e-01, -1.59138156e+00],
       [-2.15686344e-01,  2.14601566e+00],
       [-1.96547978e+00, -5.58617754e-02],
       [ 8.53631867e-01, -7.80163563e-01],
       [-7.98950822e-01, -6.06331134e-01],
       [-9.93372315e-01, -4.32498705e-01],
       [-1.18475597e-01, -4.32498705e-01],
       [ 7.59458956e-02,  2.04886868e-01],
       [-1.77105829e+00,  4.65635512e-01],
       [-6.04529329e-01,  1.36376973e+00],
       [-1.18475597e-01,  2.04886868e-01],
       [-1.86826903e+00,  4.36663440e-01],
       [ 1.63131784e+00,  1.74040666e+00],
       [-3.12897090e-01, -1.38857706e+00],
       [-3.12897090e-01, -6.64275277e-01],
       [ 8.53631867e-01,  2.14601566e+00],
       [ 2.70367388e-01, -5.48386991e-01],
       [ 8.53631867e-01,  1.01610487e+00],
       [-1.47942605e+00, -1.21474464e+00],
       [ 1.04805336e+00,  2.05909944e+00],
       [-9.93372315e-01,  4.94607583e-01],
       [-8.96161568e-01,  2.91803083e-01],
       [-1.18475597e-01, -2.29694204e-01],
       [-6.04529329e-01,  4.65635512e-01],
       [-1.67384754e+00,  5.23579655e-01],
       [-1.18475597e-01,  2.62831011e-01],
       [ 1.82573933e+00, -2.87638347e-01],
       [-1.18475597e-01, -4.90442848e-01],
       [-1.38221530e+00, -3.45582490e-01],
       [-1.96547978e+00, -5.19414919e-01],
       [-1.57663679e+00,  3.20775154e-01],
       [-4.10107836e-01, -7.80163563e-01],
       [-7.01740076e-01, -1.04091221e+00],
       [ 1.04805336e+00, -9.82968063e-01],
       [-1.09058306e+00,  5.23579655e-01],
       [ 2.70367388e-01, -5.19414919e-01],
       [-1.09058306e+00,  4.07691369e-01],
       [-3.12897090e-01, -1.44652121e+00],
       [ 4.64788881e-01,  1.21890937e+00],
       [-1.09058306e+00, -3.45582490e-01],
       [-1.18475597e-01,  2.91803083e-01],
       [ 1.33968560e+00,  5.81523798e-01],
       [-1.18779381e+00, -1.15680049e+00],
       [ 1.04805336e+00,  4.65635512e-01],
       [ 1.82573933e+00,  1.50863009e+00],
       [-4.10107836e-01, -1.30166085e+00],
       [-3.12897090e-01, -3.74554562e-01],
       [-4.10107836e-01,  1.30582558e+00],
       [ 2.02016082e+00,  5.23579655e-01],
       [ 6.59210374e-01, -1.09885635e+00],
       [-8.96161568e-01,  3.78719297e-01],
       [-1.18779381e+00,  2.91803083e-01],
       [ 1.04805336e+00, -1.21474464e+00],
       [-1.47942605e+00, -1.44652121e+00],
       [-6.04529329e-01, -1.50446535e+00],
       [ 2.11737157e+00, -8.09135634e-01],
       [-1.86826903e+00,  1.75914797e-01],
       [-2.15686344e-01,  8.42272441e-01],
       [-1.86826903e+00, -1.27268878e+00],
       [ 2.11737157e+00,  3.78719297e-01],
       [-1.38221530e+00,  5.52551726e-01],
       [-1.09058306e+00, -3.45582490e-01],
       [ 1.73156642e-01, -6.64275277e-01],
       [ 3.67578135e-01,  2.08236764e-03],
       [-6.04529329e-01,  2.31984809e+00],
       [-3.12897090e-01,  2.04886868e-01],
       [-1.57663679e+00, -2.00722133e-01],
       [ 6.59210374e-01, -1.38857706e+00],
       [-1.09058306e+00,  5.52551726e-01],
       [-1.96547978e+00,  3.49747226e-01],
       [ 3.67578135e-01,  2.62831011e-01],
       [ 1.73156642e-01, -2.87638347e-01],
       [ 1.43689635e+00, -1.04091221e+00],
       [ 8.53631867e-01,  1.07404901e+00]])

# Model Building

In [582]:
from sklearn.naive_bayes import GaussianNB
gnb=GaussianNB()
gnb.fit(x_train,y_train)

GaussianNB()

In [583]:
gnbpred=gnb.predict(x_test)

In [584]:
gnbpred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1], dtype=int64)

In [585]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

# Confusion Matrix

In [586]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(gnbpred,y_test)

In [587]:
cm

array([[55,  4],
       [ 3, 18]], dtype=int64)

# Accuracy Score

In [588]:
from sklearn.metrics import accuracy_score
gnbacc=accuracy_score(gnbpred,y_test)

In [589]:
gnbacc

0.9125

# SVM

In [590]:
from sklearn.svm import SVC
svm=SVC(kernel='linear',random_state=0)
svm.fit(x_train,y_train)

SVC(kernel='linear', random_state=0)

In [591]:
svmpred=svm.predict(x_test)

In [592]:
svmpred

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [593]:
y_test

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1], dtype=int64)

In [594]:
svmacc=accuracy_score(svmpred,y_test)

In [595]:
svmacc

0.9125